<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Admin</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
  <br><br>
  <a href="/register" class="adminlinks">Registra utente</a>
  <br><br>
  <a href="/deleteuser" class="adminlinks">Elimina utente</a>
  <br><br>
  <a href="/viewpermissions" class="adminlinks">Guarda permessi utente</a>
  <br><br>
  <a href="/addpermission" class="adminlinks">Aggiungi permessi utente</a>
  <br><br>
  <a href="/removepermission" class="adminlinks">Elimina permessi utente</a>
  <br><br>
  <a href="/userslist" class="adminlinks">Mostra tutti gli utenti registrati</a>
  <br><br>
  <a href="/robotlist" class="adminlinks">Vai alla lista robot</a>
  <br><br>
  <form method="post" action="/logout">
       <button type="submit" id="linkbuttonlogout">
        Logout
      </button>
  </form>
  </body>
</html>


