<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Register</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
  <form method="post">
      <!-- user input, il nome dell'utente con il token csrf nascosto insieme, e poi la password-->
      <p> Registra nuovo utente </p>
      <input type="hidden" name="_csrf" value='{{csrfToken}}'>
      <p>Username:</p>
      <input id="username" type="text" name="username" placeholder="Username" required><br><br>
      <p>Group:</p>
      <input id="group" type="text" name="group" placeholder="Group" required>
      <br><br>
      <p>Robotid:</p>
      <input id="robotid" type="text" name="robotid" placeholder="Robotid" required>
      <br><br>
      <p>Password:</p>
      <input id="password" type="password" name="password" placeholder="Password" required><br><br>
      <!-- submit button -->
      <input id="buttonlogin" type="submit" value="Registra utente">
      <p>{{ result }}</p>
  </form>

  <br><br>
  <a href="/admin" class="adminlinks">Torna alla pagina principale</a>
  <br><br>
 <form method="post" action="/logout">
       <button type="submit" id="linkbuttonlogout">
        Logout
      </button>
     </form>
  </body>
</html>


